.modal-background{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{
    
    max-width: 960px;
    display: flex;
    background-color: #111;
    display: block;
}

.moadalcontent{
    padding: 40px;
    background-color: aquamarine;
}

.iframe{
    width: 90%;
    height: 90%;
}




@media(max-width: 760px){
    .modal-container{
        display: flex;
    }
}